# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# terraform.tvars
terraform.tfvars

.vagrant

id_rsa

ansible/hosts/main.yml
ansible/hosts/main-office-01.yml

files/hadoop-3.1.2
files/spark-2.4.3-bin-hadoop2.7
files/apache-hive-3.1.1-bin
files/apache-tez-0.9.2-bin

*.tar.gz
*.retry
