<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
  <property>
    <name>tez.lib.uris</name>
    <value>hdfs://{{ hadoop_conf.namenode.host }}:{{ hadoop_conf.namenode.port }}/apps/tez-0.9.2/apache-tez-0.9.2-bin.tar.gz</value>
  </property>
</configuration>
